{% extends "base/base.html" %}


{% block content %}
<div class="form-container">
    <h2>{% if form.instance.pk %}Modifier{% else %}Nouvel Article{% endif %}</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        
        <div class="form-group">
            <label>Titre</label>
            {{ form.title }}
        </div>

        <div class="form-group">
            <label>Contenu</label>
            {{ form.content|safe }}
        </div>

        <div class="form-row">
            <div class="form-group">
                <label>Statut</label>
                {{ form.is_public }}
            </div>

            <div class="form-group">
                <label>Projet associé</label>
                {{ form.project }}
            </div>

            <div class="form-group">
                <label>Tags (séparés par des virgules)</label>
                {{ form.tags }}
            </div>

            <div class="form-group">
                <label>Image de couverture</label>
                {{ form.cover_image }}
            </div>
        </div>

        <button type="submit" class="btn btn-save">Enregistrer</button>
        <a href="{% url 'blogpost_list' %}" class="btn btn-cancel">Annuler</a>
    </form>
</div>
{% endblock %}
